body {
	margin: 0;
	font-size: 100%;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: 0;
}

#topbar {
	position: relative;
	background-color: #228b22;
	height: 50px;
	color: #ffffff;
}

#logo {
	position: absolute;
}

#beta {
	position: absolute;
	font-size: 2em;
	left: 194px;
	font-family: serif;
}

#taskbar {
	position: absolute;
	top: 18px;
	height: 32px;
	left: 270px;
	background-color: #2aab2a;
	line-height: 2em;
	font-weight: bold;
	font-size: 1em;
}

#taskbar a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	margin: 0px 0 0 0;
	padding: 0 10px 0 10px;
	height: 2em;
}

#taskbar a:hover {
	background-color: #33d133;	
}

#login {
	position: absolute;
	height: 100%;
	right: 5px;
	top: 5px;
	font-size: 80%;
}

#login p {
	margin-top: 5px;
}

#q, #a {
	font-size: 200%;
}

#gr a {
	background-color: #2aab2a;
	border: 1px solid #000000;
	width: 400px;
	height: 50px;
	display: inline-block;
}
